body {
	font-family: 'DBHelvethaicaRegular';
	font-size: 15px;
	
}
@-moz-document url-prefix() {
.css-select-moz{
	 background-image: url(../img/select-icons.png);
     background-repeat: no-repeat;
     background-position: right 10px top -118px;
  }
} 
.btn-block{
	cursor:pointer;
}
.icheckbox{
	display:none;
}
.icheckbox+label{
	appearance:none;
	-webkit-appearance: none;
	-moz-appearance:none;
	height: 18px;
	width: 18px;
	background-image: url('../img/red.png');
	background-position: 0px 0px;
	border:solid 1px #ccc;
	display:inline-block;
	outline:none;
}
.icheckbox[checked='checked']+label{
	background-position: 160px 0px;
}
.icheckbox:checked+label{
	background-position: 160px 0px;
}
.customDropIcon{
	background: url(../img/select-icons.png) -11px -131px no-repeat;
	display: block;
	height: 7px;
	outline: none;
	position: absolute;
	right: 10px;
	top: 35%;
	width: 10px;
}
.select-arrow {
	background-color: white;
	/*height: 34px ;*/
	position:relative;
	/*margin-top:10px;*/
	float:left;
	margin-left: -60px;
}
.reassignAgent {
	margin-left: -30%;
}
.select-arrow  select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	margin-top:0px !important;
	height: 36px !important;
	padding:5px;
	background: url(../img/select-icons.png) right 10px top -116px no-repeat;
	 -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
	 border: 1px solid #CCCCCC;
}

/* select option{
	height:34px;
	line-height:34px;
} */
.image-login span.user,.image-login span.lock{
	display: block;
    position: absolute;
    height: 100%;
    width: 40px;
    left: 0px;
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center;
}	
.image-login span.user{
	background-image: url("../img/login-user.png");
}
.image-login span.lock{
	 background-image: url("../img/login-lock.png");
}

.clearfix{
	clear:both;
	overflow:hidden;
}
/* .loginBody{
	background-image: url(../img/top_bg.jpg);
	background-color: #f6f6f6;
	background-repeat: repeat-x;
} */
.logoutLogo{
       float: right;
    margin-top: 12px;
    margin-right: 20px;
    width: 25px;
	}

/* HEADER */
.blue_bg_header {
	height: 32px;
	width: 100%;
	background-color: #c32a24;
}

.top_header_components {
	float: right;
	padding: 2px 0px;
}

.environment_txt {
	display: inline-block;
	padding: 6px 5px;
	color: #ffffff;
}

select#filter_environment {
	display: inline-block;
}

.logout_action_btn {
	border: 0px;
	background-color: #ffffff;
    color: #000;
	font-size: 13px;
	margin: 2px 20px;
	padding: 4px 15px;
	text-align: center;
	cursor: pointer;
}
.image-login input::-webkit-input-placeholder {
   font-style: italic;
}
.image-login input:-moz-placeholder {
   font-style: italic;  
}
.image-login input::-moz-placeholder {
   font-style: italic;  
}
.image-login input:-ms-input-placeholder {  
   font-style: italic; 
}

.logo_header_login {
	padding: 10px 0px;
	background-image: url('../img/header_bg.jpg');
	height: 89px;
	width: 100%;
	border-bottom: 6px solid #358bae;
}

.logo_header {
	background-color: #c32a24;
	height: 50px;
	width: 100%;
}

.img_logo_header {
	display: block;
	padding-left: 10px;
	float: left;
}

.header_title {
	display: block;
	float: right;
	margin: 68px 30px 0px 0px;
	font-size: 20px;
	color: #ffffff;
}
/* HEADER */

/* LOGIN BOX */
.login_box_container {
	height: 300px;
	margin: 50px auto 65px;
	width: 354px;
}

.login_box_top_section {
	background-image: url('../img/c_login_top.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 354px;
	height: 12px;
}

.login_box_top_fill_section {
	background-image: url('../img/c_repeat.jpg');
	background-position: 0px 0px;
	background-repeat: repeat-y;
	width: 354px;
	height: 15px;
}

.login_box_title_section {
	background-image: url('../img/c_header.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 354px;
	height: 43px;
}

.login_box_input_section {
	overflow: hidden;
	background-image: url('../img/c_repeat.jpg');
	background-position: 0px 0px;
	background-repeat: repeat-y;
	width: 354px;
	height: 160px;
}

.login_txt {
	color: #FFFFFF;
	display: block;
	font-size: 15px;
	margin-left: 13px;
	padding-top: 10px;
}

.login_box_input_section>input {
	border: 1px solid #cccccc;
	background-image: url('../img/c_logintxt_bg.jpg');
	background-position: 0px 0px;
	background-repeat: repeat-x;
	width: 354px;
	height: 180px;
	display: block;
	padding: 5px;
	height: 26px;
	line-height: 26px;
	color: #555555;
	width: 260px;
	margin: 15px auto;
}

.login_btn {
	border: 0px;
	float: right;
	background-color: #044f6e;
	color: #ffffff;
	font-size: 13px;
	margin: 0px 44px;
	width: 60px;
	padding: 5px 0px;
	text-align: center;
	cursor: pointer;
}

.login_btn:hover {
	background-color: #3790b4;
}

.login_box_bottom_section {
	background-image: url('../img/c_login_bottom.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 354px;
	height: 11px;
}
/* LOGIN BOX */

/* FOOTER */
.footer_container {
	background-position: 0px 0px;
	background-repeat: repeat-x;
	height: 30px;
	width: 100%;
	background-color: #c32a24;
}

.copyright_label {
	display: block;
    height: 15px;
    line-height: 15px;
    padding: 8px 0px;
    /* width: 200px; */
    margin: 0px auto;
    color: #ffffff;
	font-size: 17px;
	font-family: 'DBHelvethaicaRegular';
	text-align: center !important;
}
.version {
	float: right;
    position: absolute;
    top: 4px;
    right: 80px;
    color: #ffffff;
	font-size: 17px;
	font-family: 'DBHelvethaicaRegular';
}
/* FOOTER */

/* MAIN NAVIGATION BAR */
.nav_bg_green {
	background-color:#c32a24;
}

.menu_link_text {
	display: block;
	float: left;
	padding: 12px 61px;
}

.main_nav_bar {
	height: 36px;
	width: 100%;
}

.main_nav_bar>ul>li {
	float: left;
}

.main_nav_bar>ul>li>a {
	display: block;	
	color: #FFFFFF;
	float: none;
	text-decoration: none;
	position: relative;
	height: 36px;
}

.main_nav_bar>ul>li.active>a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	background: #ad2520!important;
	position: relative;
	height: 36px;
}

.main_nav_bar>ul>li.last_li>a,.main_nav_bar>ul>li.last_li.active>a {
	background: none;
}
/* MAIN NAVIGATION BAR */
.breadcrumb_gradientbg {
	background-image: url("../img/gray_gradient_small.jpg");
	background-position: 0 bottom;
	background-repeat: repeat-x;
	height: 14px;
}

.breadcrumb {
	list-style: none;
	padding: 9px 20px 12px;
}

.breadcrumb>li {
	display: inline-block;
}

.brd_link_sel {
	text-decoration: none;
	color: #000;
	font-size:17px;
	font-weight:600;
}

.brd_link {
	color: #000000 !important;
	text-decoration: none;
}

.bg_white {
	background-color: #ffffff !important;
	border-bottom: 1px solid #CCCCCC;
}

/* PRODUCT LIST GRID STRUCTURE */
.content_outer_container {
	width: 100%;
	height: 410px;
	overflow: auto;
	overflow-x: hidden;
}

.all_detl_prod_wrapper {
	height: 400px;
	margin: 0px 20px;
}

.product_dtl {
	background-image: url('../img/grad_box_bg.jpg');
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #ffffff;
	padding: 7px 15px;
	border: 1px solid #ebebeb;
	margin: 0px 50px 15px 50px;
	width: 20%;
	float: left;
}

.row_container {
	overflow: hidden;
	margin-top: 20px;
}

.img_thumbnail {
	float: left;
	background-image: url('../img/brspin.gif');
	height: 50px;
	width: 50px;
}

.prod_details {
	float: left;
	width: 145px;
	padding: 0 7px;
}

.name_prod {
	font-size: 15px;
	color: #358bae;
	padding: 3px 5px;
}

.dtl_prod {
	padding: 0px 5px;
	line-height: 15px;
}
/* jtruncate plugin class */
.truncate_more_link {
	text-decoration: none;
	float: right;
	color: #41ae49;
	padding-top: 8px;
}
/* PRODUCT LIST GRID STRUCTURE */
* Slide Menu starts here * /

.containerMain {
	width: 100%;
	margin: 0px auto;
	position: relative;
}

.containerMenu {
	width: 100%;
	position: relative;
}

.submenu_container {
	width: 100%;
	display: none;
	height: 119px;
	background: url('../img/menu_bg_strip.png') left bottom repeat-x #FFFFFF;
}

.submenu_container {
	
} /* SubMenu Transitions Box */
.submenu_column1,.submenu_column2,.submenu_column3,.submenu_column4 {
	float: left;
	width: 25%;
}

.submenu_link {
	padding-left: 10px;
}

.submenu_link ul {
	margin-left: 25px;
	padding-top: 5px;
	border: 0;
	float: left;
}

.submenu_link li {
	margin: 0;
	padding: 0;
	list-style-image: url('../img/bullet_gray.png');
	font: bold 14px/24px Arial, Helvetica, sans-serif;
	color: #1b5382;
}

.submenu_link a {
	padding-left: 5px;
	font: normal 12px/22px Arial, Helvetica, sans-serif;
	color: #555555;
	text-decoration: none;
}

.submenu_link li.activated {
	margin: 0;
	padding: 0;
	list-style-image: url('../img/bullet_green.png');
	font: bold 14px/24px Arial, Helvetica, sans-serif;
	color: #1b5382;
}

.submenu_link li.activated a {
	padding-left: 5px;
	font: normal 12px/22px Arial, Helvetica, sans-serif;
	color: #41AE49;
	text-decoration: none;
}

.submenu_link a:hover {
	color: #000;
}

.TopSlideMenu .inactiveList a {
	color: #00f6ff;
}

/* Slide Menu starts here */

/* CONTENT CONTAINER */
.content_container {
	height: 90vh;
	padding: 0 15px;
	overflow: hidden;
	background-repeat: repeat;
background-color:#EEE9E9;
	}
.highlight{
	border:1px solid #c32a24 !important;
}
.text-red{
	color:#ffffff;
	font-size: 19px;
    font-family: 'DBHelvethaicaRegular';
}
.align-center{
	text-align:center;
}
.action_btn_container {
	overflow: hidden;
	padding: 10px 0px;
}

.left_filter_content {
	float: left;
	padding: 5px 0;
	color: #358BAE;
	font-size: 13px;
}

.right_action_btns {
	float: right;
}

.filter_content_label {
	display: inline-block;
}

#filter_content_sel {
	display: inline-block;
}

.action_btn {
	background-color: #c32a24;
	border: 0 none;
	color: #ffffff;
	float: left;
	font-size: 12px;
	margin: 0 5px;
	padding: 5px 10px;
	text-align: center;
	cursor: pointer;
}

.action_btn:hover {
	background-color: #ce5a5b;
}

.action_btn.disabled_btn {
    background-color: #c32a24;
    /* color: #c4d3da; */
    opacity: .4;
}

.action_btn.enabledbtn {
	background-color: #c32a24;
	
}

/* TABLE STYLING */
.table_container {
	height: 375px;
	margin-bottom: 20px;
}

.cust_tbl {
	border: 1px solid #cccccc;
	margin-bottom: 4px;
	background-color: #FFFFFF;
	border-collapse: collapse;
}

.cust_tbl tr.tbl_head_bg {
	background-color: #c32a24 !important;
	color: #ffffff;
}

.cust_tbl tr th {
	width: auto;
	text-align: center;
	padding: 6px;
	font-weight: bold;
	border-right: 1px solid white;
}

.cust_tbl tr td {
	text-align: center;
	padding: 6px;
	border-right: 1px solid white;
}

.align_left {
	text-align: left !important;
}

.row_odd {
	background-color: #FFFFFF;
}

.row_even {
	background-color: #f0f0f0;
}

.last-column {
	border-right: none !important;
}
/* TABLE STYLING */

/* MODAL POP UP*/
.hide_scroll {
	overflow: hidden !important;
}

#page_loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000;
	opacity: 0.7;
	width: 100%;
	filter: alpha(opacity =   70);
	z-index: 9990 !important;
}

.modal_container {
	width: 200px;
	height: auto;
	position: absolute;
}
.update_content_pop_up {
	height: 380px !important;
}

.content_details_pop_up {
	height: 380px !important;
}

.modal_pop_up {
	width: 520px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	position: absolute;
	display: none;
	z-index: 9999 !important;
}
/* .del_benefic .del_ben_header { */
.modal_pop_up_header {
	background-color: #c32a24;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	color: #FFFFFF;
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	padding-top:5px;
	font-weight:600;
}

.close_pop_up {
	background-image: url('../img/pop_up_close_icon.png');
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	float: right;
	height: 16px;
	width: 16px;
	margin: 6px;
	cursor: pointer;
}

.pop_up_content_container {
	border: 1px solid #CCCCCC;
	margin: 10px 5px;
	padding: 0px 0px 30px;
}

.pdg_update_cont {
	padding: 0px 0px 23px !important;
}

.pdg_rollback_cont {
	padding: 0px !important;
}

.pdg_top {
	padding-top: 7px;
}

.pop_up_row {
	padding: 10px 15px;
}


.content_details_pop_label {
	width: 150px !important;
}

.comment_text {
	width: 310px;
	display: block;
}

.pop_up_item {
	float: left;
}
/* 
.del_benefic .btn_wrapper {
  width: 270px;
  height: auto;
  margin-top: 20px; */
.browse_pop_up_btn {
	    background-color: #c32a24;
    border: 0 none;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    padding: 5px 16px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 22%;
    height: 30px !important;
	    width: 505px !important;
		border: 2px solid #CCCCCC !important;
}

.mand_statement {
	font-size: 11px;
	padding-left: 7px;
}

.mrg_update {
	margin-left: 35px !important;
}

.mrg_rollback{
	text-align: center;
}

.mand_symbol {
	font-size: 16px;
	font-weight: bold;
	color: red;
}

.upload_message {
	display: block;
	font-size: 12px;
	color: red;
	width: 150px;
	margin: 0px auto;
}
.rollback_returnMsg {
	font-size: 12px;
	color: red;
	width: 80%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
.rollback_prvVrnMsg {
	font-size: 12px;
	color: red;
	width: 80%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
.rollback_message {
	display: block;
	padding-top: 10px;
	font-size: 14px;
	color: #358bae;
	width: 100%;
	margin: 0px auto;
	float: left;
	height: 35px;
	padding-left: 15px;
}

.custom-upload {
	position: relative;
	height: 30px;
	width: 100%;
}

.custom-upload input[type=file] {
	outline: none;
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	filter: alpha(opacity :     0);
	opacity: 0;
	z-index: 2;
	width: 75%;
	margin-left:5%;
	height: 100%;
}

.custom-upload .upload_cont {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 1;
	line-height: 100%;
}

.custom-upload .upload_cont input {
    font-size: 13px;
    height: 20px;
    width: 58% !important;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
    text-align: left;
    box-sizing: border-box;
}

.pop_up_main_action_btn {
	
}
@media screen and (max-width:1024px){
	.custom-upload .upload_cont input {
		 width: 55% !important;
	}
	.custom-upload input[type=file] {
		 width: 73% !important;
	}
}
#update_comment_textarea {
	float: left;
}

#rollback_comment_textarea {
	float: left;
}

.pop_up_upload_btn {
	background-color: #c32a24;
	border: 0 none;
	color: #FFFFFF;
	font-size: 21px;
	margin: 0 0px;
	margin-left: 0px;
	padding: 6px 155px;
	text-align: center;
	cursor: pointer;
	font-family: 'DBHelvethaicaRegular';
}
.pop_up_upload_btn[disabled]{
	    opacity: 0.6;
		pointer-events:none;
		cursor:default;
}
.tagUntag_pop_up_btn {
	background-color: #c32a24;
	border: 0 none;
	color: #FFFFFF;
	font-size: 12px;
	margin: 0 5px;
	margin-left: 206px;
	padding: 5px 25px;
	text-align: center;
	cursor: pointer;
}

/* .pop_up_upload_btn:hover {
	background-color: #ce5a5b;
} */
/* Login page */

.containerLogin {
	width: 1000px;
	height: auto;
	text-align: center;
	/*border:#333 1px solid;*/
}

/* .headerLogin {
	width: 1000px;
	height: 106px;
} */


.headerLeftRule1 {
	background: url(../img/life_engage.png) no-repeat;
	float: left;
	height: 90px;
	margin: 0px;
	width: 320px;
}

.logoWhite {
	width: 442px;
	height: 87px;
	margin-top: 10px;
	margin-left: 280px;
}

/* .LoginContainer {
	background-image: url(../img/login_bg.png);
	height: 190px;
	width: 442px;
	background-repeat: no-repeat;
	text-align: center;
	margin-left: 280px;
} */

.clear {
	clear: both;
}

.blue_heading {
	color: #3b9ac0;
	font-family: 'DBHelvethaicaRegular';
	font-weight: bold;
	font-size: 16px;
}

.searh_box {
	height: 24px;
	border: #c4c4c4 1px solid;
	background-image: url(../img/login_text_bg.png);
	background-repeat: repeat-x;
	padding-top: 3px;
}

.SaveRule {
	width: 53px;
	height: 30px;
	background-repeat: no-repeat;
	border: 0px;
}

.Preview {
	width: 76px;
	height: 30px;
	background-repeat: no-repeat;
	border: 0px;
}

.rsPreview {
	width: 76px;
	height: 30px;
	background-repeat: no-repeat;
	border: 0px;
}

.LoginButton {
	width: 78px;
	height: 24px;
	background-image: url(../img/login_bton.png);
	background-repeat: no-repeat;
	color: #006699;
	font-family: 'DBHelvethaicaRegular';
	font-weight: bold;
	font-size: 14px;
	border: 0px;
	padding-right: 0px;
	text-align: center;
	padding-top: 8px;
	margin-right: 40px;
	cursor: pointer;
}

.cognizant_logo {
	background-image: url(../img/cognizant_logo.png);
	background-repeat: no-repeat;
	background-position: right;
}

.headerLeftRule {
	background: url("../img/rule_engine_header.png") no-repeat scroll 0 0
		transparent;
	float: left;
	height: 106px;
	margin: 0 px;
	width: 320px;
}

.right_icons {
	background-image: url(../img/right_icons.png);
	background-repeat: no-repeat;
	width: 335px;
	height: 32px;
	float: right;
	margin: 15px 31px 0 0;
}

.workbench_img_bg {
	position: absolute;
	top: 63px;
	right: 203px;
	cursor: pointer;
}
/*
.icons{
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	padding:3px 0 0 25px;
	margin:5px 0 0 8px;
	float:left;
}
.icons1{
	background-image:url(../images/help_icon.png);
	background-repeat:no-repeat;
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	padding:3px 0 0 25px;
	margin:5px 0 0 5px;
	float:left;
}
.icons2{
	background-image:url(../images/log_out_icon.png);
	background-repeat:no-repeat;
	height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
	padding:3px 0 0 25px;
	margin:5px 0 0 5px;
	float:left;
}*/
.icons {
	height: 22px;
	font-family: 'DBHelvethaicaRegular';
	font-size: 12px;
	color: #333;
	text-align: left;
	margin: 5px 0 0 8px;
	float: left;
}

.icons1 {
	height: 22px;
	font-family: 'DBHelvethaicaRegular';
	font-size: 12px;
	color: #333;
	text-align: left;
	margin: 6px 0 0 0;
	float: left;
}

.icons2 {
	height: 22px;
	font-family: 'DBHelvethaicaRegular';
	font-size: 12px;
	color: #333;
	text-align: left;
	margin: 6px 4px 0 4px;
	float: right;
}

.centertop {
	width: 940px;
	padding-left: 30px;
	height: auto;
}

.menucontainer {
	width: 940px;
	height: 32px;
}
/* Menu starts */
.menu {
	width: 927px;
	height: 32px;
	margin: 0 auto;
	background: url(../img/shadow_for_menu.png) repeat-x bottom;
	padding: 22px 0 0 23px;
}

.nav .menu_left {
	height: 32px;
	width: 5px;
	background: url(../img/menuItemLeft_bg.png) no-repeat;
	float: left;
}

.nav .menu_right {
	height: 32px;
	width: 5px;
	float: left;
	background: url(../img/menuItemRight_bg.png) no-repeat;
}

.nav .menu_center {
	height: 32px;
	float: left;
	background: url(../img/menuItem_bg.png) repeat-x;
	line-height: 32px;
	text-align: center;
	font-size: 1.2em;
	padding: 0 10px;
}

.nav .menu_leftSel {
	height: 32px;
	width: 7px;
	background: url(../img/menuItemSelLeft_bg.png) no-repeat;
	float: left;
}

.nav .menu_rightSel {
	height: 32px;
	width: 7px;
	float: left;
	background: url(../img/menuItemSelRight_bg.png) no-repeat;
}

.nav .menu_centerSel {
	height: 32px;
	float: left;
	background: url(../img/menuItemSel_bg.png) repeat-x;
	line-height: 32px;
	text-align: center;
	font-size: 1.2em;
	padding: 0 10px;
}

ul.nav li img {
	vertical-align: middle;
	margin-right: 5px;
}

ul.nav li.menu_centerSel a {
	color: #fff;
}

/* Menu ends */
.strip_center {
	width: 940px;
	float: none;
	height: 38px;
	background: #23a9de;
	margin: 0px;
	background-image: url(../img/strip_centre.png);
	background-repeat: repeat-x;
	padding-top: 5px;
}

.tab_bg {
	background-image: url(../img/tab_bg.png);
	background-repeat: repeat-x;
	height: 37px;
	font-family: 'DBHelvethaicaRegular';
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #000;
}

.bottom_logo {
	width: 138px;
	height: 52px;
	background-image: url(../img/life_engage_logo.png);
	background-repeat: no-repeat;
	margin-top: 30px;
}

.add_new {
	width: 940px;
	height: auto;
	margin: 0px;
	padding: 0px;
	text-align: left;
	min-height: 30px;
}

.add_new_1 {
	width: 940px;
	height: auto;
	margin: 0px;
	padding: 0px;
	text-align: left;
	min-height: 20px;
}
/*.tableRowbold
{
    font-size: 13px;
    font-weight: bold;
	background-image:url(../img/tab_bg.png);
	background-repeat:repeat-x;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
	width:100%;
    border:1px solid #a8d7ea;
	padding-top:7px;
}*/
.tableRowbold {
	font-size: 13px;
	font-weight: bold;
	background-image: url(../img/tab_bg.png);
	background-repeat: repeat-x;
	height: 32px;
	font-family: 'DBHelvethaicaRegular';
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #006699;
	width: 900px;
	border: 1px solid #a8d7ea !important;
	padding-top: 5px;
}

.tableRowbold_list {
	font-size: 13px;
	font-weight: bold;
	background-image: url(../img/tab_bg.png);
	background-repeat: repeat-x;
	height: 32px;
	font-family: 'DBHelvethaicaRegular';
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #006699;
	border: 1px solid #a8d7ea;
	padding-top: 5px;
}

.wrapper1 {
	background-color: #FFF;
	width: auto;
	height: auto;
	text-align: center;
}

.txt_box {
	height: 23px;
	border: #c4c4c4 1px solid;
}

.plus_icon {
	background-image: url(../img/+.png);
	width: 20px;
	height: 19px;
	background-repeat: no-repeat;
	float: right;
	margin-right: 10px;
}

.minus_icon {
	background-image: url(../img/minus.png);
	width: 20px;
	height: 19px;
	background-repeat: no-repeat;
	float: right;
	margin-right: 10px;
}

#regions {
	background-color: #FFF;
}

#panel,#flip {
	text-align: center;
	border: solid 1px #23a9de;
}

#panel { /*display: none;*/
	width: 900px;
}

.bg_blue {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	float: left;
	margin-left: 10px;
}

.bg_blue_simple {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
}

.attrInputWrapper {
	height: 27px;
	width: 310px;
	background: url(../img/textboxImg.png) no-repeat;
}

.attrInput {
	line-height: 23px;
	padding: 0 7px;
	height: 27px;
	width: 296px;
	background: transparent;
	border: none;
}

.txt_area {
	border: #c4c4c4 1px solid;
}

.txt_area_1 {
	height: 75px;
	width: 240px;
	border: #c4c4c4 1px solid;
	color: #000;
	float: left;
	margin-left: 11px;
	font-family: 'DBHelvethaicaRegular';
}

#txtCodeBlock,#txtRuleName {
	border: #c4c4c4 1px solid;
}

.ruleIf {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-left: 0px;
	width: 100%;
}

.ruleElseIf {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-left: 0px;
	width: 100%;
}

.ruleElse {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-left: 0px;
	width: 100%;
}

.ruleIfSub {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-left: 0px;
	width: 100%;
}

.ruleCodeBlock {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-left: 0px;
	width: 100%;
}

.StatementBlock {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-left: 0px;
	width: 100%;
}

.functionBlock {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-left: 0px;
	width: 100%;
}

.ruleLoop {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-left: 0px;
	width: 100%;
}

.ruleStatement {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-left: 0px;
	width: 100%;
}

.functionBlockStatement {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-left: 0px;
	width: 100%;
}

#txtLHS,#txtRHS,#txtCondition,#txtLhs,#txtRhs {
	line-height: 23px;
	padding: 0 7px;
	height: 27px;
	width: 296px;
	background: transparent;
	border: none;
}

#txtStart,#txtStep,#txtLimit {
	line-height: 23px;
	padding: 0 7px;
	height: 27px;
	width: 122px;
	background: transparent;
	border: none;
}

.tblAction {
	width: 90%;
}

select {
	font-family: 'DBHelvethaicaRegular';
	font-size: 19px;
	font-weight: normal;
	line-height: 15px;
	/* border: 1px solid #ce5a5b; */
}

.btnadd {
	height: 30x;
	width: 51px;
	background: url(../img/add_all.png) no-repeat;
}

.attrInputWrapper_small {
	height: 27px;
	width: 145px;
	background: url(../img/textboxImgMedSmall.png) no-repeat;
}

.attrInput_small {
	line-height: 23px;
	padding: 0 7px;
	height: 27px;
	width: 122px;
	background: transparent;
	border: none;
}

/* added code */
.pdg_left {
	padding-left: 10px;
}

.pdg_left_title {
	padding-left: 20px;
}

.pdg_right {
	padding-right: 10px;
}

.min_pdg_left {
	padding-left: 6px;
}

.pdg_top {
	padding-top: 5px;
}

.pdg_btm {
	padding-bottom: 2px;
}

.pdg_top_left {
	padding-top: 5px;
	padding-left: 7px;
}

.min_pdg_top_left {
	padding-top: 2px;
	padding-left: 2px;
}

.pdg_top_btm {
	padding-top: 8px;
	padding-bottom: 8px;
}

.add_pdg_left {
	padding-left: 2px;
}

.min_pdg_top_btm {
	padding-top: 2px;
	padding-bottom: 2px;
}

.min_mrg_top {
	margin-top: 2px;
}

.rule_set_title {
	padding-right: 10px;
	font-family: 'DBHelvethaicaRegular';
	font-size: 14px;
	font-weight: 600;
	color: #006699;
	float: left;
	display: inline-block;
	padding-top: 5px;
}

.title_group_lbl {
	float: left;
	padding-top: 5px;
	width: 220px;
}

.condition_stmnt_select {
	display: inline-block;
	padding-left: 8px;
	padding-top: 4px;
}

.attrInputWrapper_small {
	height: 27px;
	width: 145px;
	background: url(../img/textboxImgMedSmall.png) no-repeat;
}

.attrInput_small {
	line-height: 23px;
	padding: 0 7px;
	height: 27px;
	width: 122px;
	background: transparent;
	border: none;
	color: #333;
}

#lblinput {
	display: block;
	padding-top: 5px;
	padding-right: 10px;
}

.attrInputWrapper {
	height: 27px;
	width: 310px;
	background: url(../img/textboxImg.png) no-repeat;
}

.attrInputWrapper_smallest {
	height: 27px;
	width: 120px;
	background: url(../img/smallest_textbox.png) no-repeat;
}

.attrInput {
	line-height: 23px;
	padding: 0 7px;
	height: 27px;
	width: 296px;
	background: transparent;
	border: none;
	color: #333;
}

.add_new {
	width: 940px;
	height: auto;
	margin: 0px;
	padding: 0px;
	text-align: left;
	min-height: 20px;
	background-color: #ffffff;
}

.white_bg {
	background-color: #ffffff;
}

.blue_text {
	color: #006699;
	font-family: 'DBHelvethaicaRegular';
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	padding-left: 5px;
}

.expand_btn {
	float: right;
	margin-right: 10px;
}

#ruleSetTable {
	border-collapse: separate !important;
}

.action_btns {
	text-align: center;
	overflow: hidden;
	padding-left: 15px;
	padding-top: 1px;
}

.boldText {
	font-weight: 600;
}

.no_border {
	border: none !important;
}

.ex_info {
	width: 175px;
	float: left;
	color: #000;
}

.rule {
	background-image: url(../img/bar1.png);
	background-repeat: repeat-x;
	background-position: 4px 0;
	height: 16px;
}

.mrg_btm {
	margin-bottom: 10px;
}

.attr_input_smallest {
	background: none;
	border: none;
	width: 100px;
	height: 22px;
	line-height: 22px;
	margin: 2px 10px 0px 10px;
}

.sub_title_span {
	padding: 5px 10px 5px 20px;
	color: #006699;
	float: left;
}

.greeting_header {
	padding-left: 4px;
}

.vt_align {
	vertical-align: bottom;
}

.add_action_span {
	padding-left: 20px;
	width: 80px;
	float: left;
	font-size: 13px;
	text-align: left;
	vertical-align: bottom;
	color: #0c6689;
	padding-top: 2px;
}

.first_span_sub_title {
	padding-left: 10px !important;
}

.blue_txt_color {
	color: #006699;
}

}
.float_left {
	float: left;
}

/* MODAL POP UP*/
.modal_pop_up {
	width: 520px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	position: absolute;
	display: none;
	z-index: 9999 !important;
}

.tag_Untag_col_width{
	width: 130px; !important;
}

.add_more_pop_up_upload {
	height: 40px !important;
}

.SaveGroupName {
	margin-top: 25px;
}

.modal_pop_up_header {
	    background-position: 0px 0px;
    background-repeat: repeat-x;
    color: #ce5a5b;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    background-color: white;
    font-size: 20px;
}

.close_pop_up {
	background-image: url('../img/pop_up_close_icon.png');
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	float: right;
	height: 16px;
	width: 16px;
	margin: 6px;
	cursor: pointer;
}

.pop_up_row {
	padding: 10px 15px;
}

.min_pdg_left {
	padding-left: 5px;
}

.pop_up_label {
	float: left;
	text-align: left;
	width: 135px;
	margin-right: 10px;
	text-align: right;
}

.pop_up_select {
	width: 150px;
	text-align: left;
	vertical-align: bottom;
	border: 1px solid #c4c4c4;
	height: 24px;
}

.pop_up_btn {
	text-align: center;
}

.pdg_top {
	padding-top: 7px;
}

.txt_box_pop {
	height: 20px;
	border: #c4c4c4 1px solid;
	margin-top: 2px;
}
.fht-tbody{
	overflow-y:auto;
	height: 240px !important;
}

#page_loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height:100vh !important;
	background-color: #000000;
	width: 100%;
	opacity: 0.7;
	/* IE 7 and Earlier */
	/* Next 2 lines IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity = 70);
	z-index: 9990 !important;
}

#backgroundPopupst1 {
	z-index: 1;
	position: fixed;
	display: none;
	height: 100%;
	width: 100%;
	background: #000000;
	top: 0px;
	left: 0px;
}

#toPopupst1 {
	text-align: left;
	font-family: 'DBHelvethaicaRegular';
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	color: #333333;
	display: none;
	font-size: 14px;
	left: 50%;
	margin-left: -402px;
	position: fixed;
	top: 20%;
	width: 800px;
	z-index: 2;
}

div.loaderst1 {
	background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
	height: 32px;
	width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}

div.closest1 {
	background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 30px;
	position: absolute;
	right: -27px;
	top: -24px;
	width: 30px;
}

span.ecs_tooltipst1 {
	background: none repeat scroll 0 0 #000000;
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	display: none;
	font-size: 11px;
	height: 16px;
	opacity: 0.7;
	padding: 4px 3px 2px 5px;
	position: absolute;
	right: -62px;
	text-align: center;
	top: -51px;
	width: 93px;
}

span.arrowst1 {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid #000000;
	display: block;
	height: 1px;
	left: 40px;
	position: relative;
	top: 3px;
	width: 1px;
}

div#popup_contentst1 {
	margin: 4px 7px;
	/* remove this comment if you want scroll bar
    overflow-y:scroll;
    height:200px
    */
}

/* .accordion {
	margin: 30px; dt , dd { padding : 10px;
	border: 1px solid black;
	border-bottom: 0;
	&:
	last-of-type
	{
	border-bottom
	:
	1px
	solid
	black;
}

a {
	display: block;
	color: black;
	font-weight: bold;
}

}
dd {
	border-top: 0;
	font-size: 12px; &: last-of-type { border-top : 1px solid white;
	position: relative;
	top: -1px;
}

}
dd {
	font-weight: bold;
	font-size: 18px;
}

} */
.accordion_elmnt {
	background-color: #a8d7ea;
	color: white;
	border: 1px solid white;
	background-image: url(../img/tab_bg.png);
	background-repeat: repeat-x;
	height: 37px;
	font-family: 'DBHelvethaicaRegular';
	text-decoration: none;
	border: 1px solid #a8d7ea !important;
}

.accordion_anchor_elmnt {
	color: #006699;
	font-size: 15px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 8px;
	display: block;
}

.acc_cont {
	overflow: scroll;
	height: 365px;
	overflow-x: hidden;
}

#toPopupst1 {
	height: 400px;
}

.dd_elemnt {
	padding: 5px;
	display: block;
	font-size: 13px
}

.dd_cont {
	background-color: #e8f3f9;
	border: 1px solid #a8d7ea;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

.btn_mrg {
	margin: 0px 0px 0px 10px;
	display: inline-block;
}

.action_btn_cont {
	float: right;
	width: 450px;
	text-align: right;
	margin-right: 10px;
}

.pdg_right_title {
	padding-left: 20px;
}

.search_container {
	float: right;
}
.btn-primary{
    color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0);
background-color: #C21B17;
background-image: -moz-linear-gradient(top, #c32a24, #c32a24);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c32a24), to(#c32a24));
background-image: -webkit-linear-gradient(top, #c32a24, #c32a24);
background-image: -o-linear-gradient(top, #c32a24, #c32a24);
background-image: linear-gradient(to bottom, #c32a24, #c32a24);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc32a24', endColorstr='#ffc32a24', GradientType=0);
border-color: #c32a24 #c32a24 #821c18;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-large{
   width: 202px;
    height: 30px; 
}

.loginBody{
    background-color: #f6f6f6;
    /* background-repeat: repeat-x; */
    margin: 0;
	font-family: 'DBHelvethaicaRegular';
}
.headerLogin{
    width: 100%;
    height: 112px;
	padding-top: 5px;
    box-sizing: border-box;	
	padding-right: 20px;
}
.headerStyle{
	    background-color: #c32a24;
    background-image: -moz-linear-gradient(top, #c32a24, #c32a24);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c32a24), to(#c32a24));
    background-image: -webkit-linear-gradient(top, #c32a24, #c32a24);
    background-image: -o-linear-gradient(top, #c32a24, #c32a24);
    background-image: linear-gradient(to bottom, #c32a24, #c32a24);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc32a24', endColorstr='#ffc32a24', GradientType=0);
    border-color: transparent;
	text-align: center;
}
.LoginContainer{
 
    height: 220px;
    width: 450px;
    background-repeat: no-repeat;
    text-align: center;    
    margin: 0 auto;
    border: 1px solid #c32a24;
    border-radius: 8px;
    margin-top: 118px;
}
.selBtnCustom{
    background-color: #c32a24!important;
    border-color: #ce5a5b!important;
}
/* MODAL POP UP*/
tr#agent_details_topic th{
	text-align:center;
}
.center-align{
	text-align:center !important;
}
/** Praveen Changes **/

.browse_button {
     text-align: center;
    width: 15% !important;
    height: 30px !important;
    margin-left: 5%;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    color: #ce5a5b;
	text-transform:uppercase;
}
.pull-right{
	float:right;
}
.pull-left{
	float:left;
}
.mrg-top-25{
	margin-top:25px;
}
.white-btn{
    text-align: center;
    width: 160px !important;
	font-size: 21px;
	padding: 5px 25px;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    color: #ce5a5b;
	cursor: pointer;
	font-family: 'DBHelvethaicaRegular';
	margin-left: 140%;
    margin-top: -30px;
}
.white-btn[disabled]{
	background-color: #CCC; 
    color: white; 
	cursor: default;
}

.red-btn{
	background-color: #c32a24;
	border: 0 none;
	color: #FFFFFF;
	font-size: 21px;
    width: 145px !important;
    height: 35px !important;
    margin-left: 5%;
	padding: 5px 25px;
	text-align: center;
	cursor: pointer;
	font-family: 'DBHelvethaicaRegular';
	margin-left: 100%;
}
.excel_sheet_heading{

text-align:left;
margin-left:4%;
margin-bottom:5px;
margin-top:15px;

}
.backimage_white{
margin-top: 69px;
    margin-left: 45%;
    height: 140px;
}
.mainLogoLogin{
    width: 250px;
    margin-left: 20px;
    margin-top: 4px;
    height: 40px;
    float: left;
}
.headerLogin{
height:62px;
}
.Logo_TH{
    width:120px;
    margin-top: -15px;
	margin-bottom: -15px;
}
.welcometxt {
	margin-bottom:25px;
}
.login{
    width: 390px;
    height: auto;
    margin-left: 35%;
    margin-top: 9%;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.9);
	
}
.red-text {
    color: #ffffff;
	font-size: 28px;
	font-weight:300;
	text-align:center;
	line-height: 10px;
	margin: 16px 0;
	font-family:'DBHelvethaicaLight';
}
.header {
    color: #ffffff;
	font-size: 36px;
	font-weight:300;
	text-align:center;
	line-height: 14px;
	margin: 16px 0;
	font-family:'DBHelvethaicaThin';
}
.image-login .input-area {
    position: relative;
	    height: 38px;
    background-color: #ffffff;
    font-size: 14px;
margin-bottom:15px;
font-family:'DBHelvethaicaRegular';
}

.btn-large {
    width: 100%;
    height: 40px;
    padding: 11px 19px;
    font-size: 21px;
    line-height: 16px;
    color: #ffffff;
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
	border: 1px solid #f4644c !important;
	background: #f4644c;
	font-family:'DBHelvethaicaRegular';
}
.text-center {
  text-align: center;
}
.image-login form {
    padding-top: 0px;
	padding: 20px 30px 0px;
    margin-bottom: 0px;
	margin: -40px 0 24px;
	height:310px;
	background-color: #c7302d;
	border: 2px solid #c32a24;
	opacity: 0.95;
}
.image-login table {
width:100%; 
 background-color: #e5dddd;
}

.image-login input[type="text"], .image-login input[type="password"] {
    height: 38px;
    background-color: #ffffff;
    font-size: 19px;
    padding-left: 40px;
	border: 1px solid #e7e7e7;
	margin-bottom: 12px;
	width:100%;
	font-family: 'DBHelvethaicaRegular';
	box-sizing:border-box;
}
.image-login{
     /* background-image: url("banner-login.jpg") !important; */
	background-color: #fff;
    margin-top: -34px;
    margin-left: 0px;
    top: 0px;
	    padding: 0px;
    position: fixed;
    width: 100%;
    top: 95px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
	background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
.forgotPwd,.RemPassword {
visibility:hidden;
}
.image-login .input-area .fa-2x {
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: 1;
    color: #bbbbbb;
	top: 14px;
    font-size: 1em !important;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
	   url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
	   url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
	   url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
	   url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DBHelvethaicaRegular';
  src: url('../fonts/DB-Helvethaica-X.eot');
  src: url('../fonts/DB-Helvethaica-X.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DB-Helvethaica-X.woff') format('woff'),
       url('../fonts/DB-Helvethaica-X.ttf') format('truetype'),
       url('../fonts/DB-Helvethaica-X.svg#JournalRegular') format('svg');
       
}

@font-face {
  font-family: 'DBHelvethaicaLight';
  src: url('../fonts/db-helvethaica-x-li.eot');
  src: url('../fonts/db-helvethaica-x-li.eot?#iefix') format('embedded-opentype'),
       url('../fonts/db-helvethaica-x-li.woff') format('woff'),
       url('../fonts/db-helvethaica-x-li.ttf') format('truetype'),
       url('../fonts/db-helvethaica-x-li.svg#JournalRegular') format('svg');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'DBHelvethaicaMedium';
  src: url('../fonts/db-helvethaicamon-x-med.eot');
  src: url('../fonts/db-helvethaicamon-x-med.eot?#iefix') format('embedded-opentype'),
       url('../fonts/db-helvethaicamon-x-med.woff') format('woff'),
       url('../fonts/db-helvethaicamon-x-med.ttf') format('truetype'),
       url('../fonts/db-helvethaicamon-x-med.svg#JournalRegular') format('svg');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'DBHelvethaicaThin';
  src: url('../fonts/db-helvethaica-x-thin.eot');
  src: url('../fonts/db-helvethaica-x-thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/db-helvethaica-x-thin.woff') format('woff'),
       url('../fonts/db-helvethaica-x-thin.ttf') format('truetype'),
       url('../fonts/db-helvethaica-x-thin.svg#JournalRegular') format('svg');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'DBHelvethaicaBold';
  src: url('../fonts/db-helvethaica-x-bd.eot');
  src: url('../fonts/db-helvethaica-x-bd.eot?#iefix') format('embedded-opentype'),
       url('../fonts/db-helvethaica-x-bd.woff') format('woff'),
       url('../fonts/db-helvethaica-x-bd.ttf') format('truetype'),
       url('../fonts/db-helvethaica-x-bd.svg#JournalRegular') format('svg');
       font-weight: normal;
       font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-user:before {
    content: "\f007";
}
.fa-lock:before {
    content: "\f023";
}
.passwordOptions {
    background-color: #e5dddd;
}
.footer_part {
     background-color: #c32a24;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0px auto;
    height: 30px;
    color: white;
}
.language_icon{
    float: right;
    margin-right: 20px;
    height: 30px;
    width: 30px;
    margin-top: 11px;
}
.upload_part{
    height: 120px;
    margin-top: 170px;
    width: 45%;
    margin-left: 30%;
    position: relative;
    border: 2px dotted #EEE9E9;
    border-style: dashed;
	display:none;
	background-color: rgba(255,255,255,0.5);
	}
	.forgot_password{
	    position: absolute;
    color: #c32a24;
    margin-left: 115px;
    margin-top: 23px;
    font-size: 13px;	
	}
	
	/* MENU DESIGN */
	.menu-bar{
		padding: 0;
		width:100%;
		background-color: #c32a24;  
		overflow: hidden;
		display:none;
	}
	.menu-bar li{
		display: list-item;
		float: left;
		font-family: 'DBHelvethaicaRegular';
		font-size: 12px;
		line-height: 24px;
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
		position: relative;
	}
	.menu-bar li.active{
	    border-bottom: 5px solid white;
	}
	.menu-bar li a{
	    color: #ffffff;
		display: block;
		float: none;
		font-family: 'DBHelvethaicaRegular';
		font-size: 15px;
		height: 45px;
		line-height: 45px;
		text-decoration: none;
		padding-left: 20px;
		padding-right: 20px;
		cursor: pointer;
		    text-transform: uppercase;
	}
	/* MENU DESIGN */
	.btn-wrapper{
	text-align:center;
}
.btn-wrapper .pop_up_upload_btn{
	padding: 6px 155px !important;
	margin-left:3px;
}
.agtupd_content_pop_up{
	width: 580px !important;
   background-color: #EEE9E9;
    height: 270px !important;
    margin-left: 30%;
    margin-top: -105px;
}
.error_popup {
	background-color: #ffffff;
	width: 400px !important;
}
.error_popup .pop_up_img{
	text-align: center !important;
    padding-top: 20px;
    padding-bottom: 20px;
}
.agtupd_content_pop_up#reassignPopUp{
	top: 50%;
    left: 50%;
    height: 290px;
	margin-left: -325px;
    margin-top: -145px;
}
.agtupd_content_pop_up#SuccessPopup{
    top: 50%;
    left: 50%;
    height: 210px !important;
    margin-left: -245px;
    margin-top: -105px;
}
.agtupd_content_pop_up#ErrorPopup{
    top: 50%;
    left: 50%;
    height: 190px !important;
    margin-left: -210px;
    margin-top: -90px;
}
.agtupd_content_pop_up#InvalidSessionErrorPopup{
    top: 50%;
    left: 50%;
    height: 190px !important;
    margin-left: -210px;
    margin-top: -90px;
}
.agtupd_content_pop_up#Popup{
    top: 50%;
    left: 50%;
    height: 190px !important;
    margin-left: -210px;
    margin-top: -90px;
}
.agtupd_content_pop_up#LoginErrorPopup{
    top: 50%;
    left: 50%;
    height: 180px !important;
    margin-left: -210px;
    margin-top: -90px;
}
.agtupd_content_pop_up .modal_pop_up_header{
	background-color: transparent !important;
    color: #333 !important;
    font-size: 19px !important;
    padding-left: 18px !important;
    height: 24px !important;
	line-height: 24px;
    font-weight: bold !important;
	padding-bottom: 5px;
}
.agtupd_content_pop_up .blankContainerInner{
	background-color: white;
    margin: 0px 10px 10px 18px;
	font-size: 14px;
	height: 148px;
    display: table;
    width: 94%;
}
.agtupd_content_pop_up .blankContainerInner .innerContainer{
	height: 80px;
    text-align: center;
    display: table-row;
}
.agtupd_content_pop_up .blankContainerInner .innerContainer span{
    display: table-cell;
    vertical-align: middle;
}
.agtupd_content_pop_up .blankContainerInner .innerContainer span.green{
	color:green;
}
.agtupd_content_pop_up .blankContainerInner .innerContainer span.red{
	color:red;
}
#progressbox {
     position: absolute;
    width: 84%;
    border: 1px solid #c32a24;
    height: 2px;
    margin-left: 7%;
	float:left;
    bottom: 30px;
}
#progressbar {
    background:#c32a24;
    height:2px;
    width:0%;
	position:absolute;
	top:0px;
    display:inline-block;
}

#percent {

}
.bulk_upload_heading{

position: absolute;
    margin-left: 23%;
    margin-top: 13px;
    font-size: 20px;
    color: white;

}
.page-title{
	padding: 10px 20px;
    font-size: 16px;
}
.bg_white span{
    font-weight: bold;
}
.contentPosition {
    width: 80%;
    background-color: white;
    height: 400px;
    margin: 15px auto;
    background-image: url("../img/Mail-icon.png");
    background-repeat: no-repeat;
    background-position: center bottom;

}


.uploadingText{
       position: relative;
    margin-top: 13px;
    margin-left: 30px;
    color: #c32a24;
    font-weight: bold;
}

.percentRatio{
    margin-top: 10px;
    position: relative;
    /* margin-left: 300px; */
    float: right;
}
.filename_format {
position:absolute;
margin:30px;
font-weight:bold;
}

.closeFile{
       position: relative;
    float: right;
    float: right;
    padding: 10px;
    font-size: 23px;
    line-height: 40px;
    font-weight: 200;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    color: #c32a24;
    opacity: 1;
    margin-right: 20px;
    margin-top: 5px;
}
.foldtr {
    position: relative;
}

	/* .foldtr:before {
		content: "";
		position: absolute;
		top: 0%;
		right: 0%;
		width: 0px;
		height: 0px;
		border-bottom: 15px solid #D3D2D2;
		border-right: 15px solid transparent;
	}


	.foldtr:after {
		content: "";
		position: absolute;
		top: 0%;
		right: 0%;
		width: 0px;
		height: 0px;
		border-top: 15px solid #EEE9E9;
		border-left: 15px solid transparent;
	} */
.agent_custom_upload {
margin: 60px 0px 20px;
width: 100%;
float:left;
position:relative;
}


.mand_statement_ap {
font-size: 11px;
padding-left: 7px;
float: left;
}

#agent_upload_pop_up_btn {
float: right;   
margin-right: 0px;
margin-top: 0px;
width:135px;
height:30px;
size:200;
text-transform:uppercase;
    margin-right: 20px !important;
}

#reassign {
	top: 0px;
	height: 260px !important;
}

#Success {
	top: 200px;
}

.field-wrapper {
	min-height: 180px;
}

#agent_name,#branchName,#searchButtonGroup,.lead_assign_table,#reassignBranchNameWrapper,#reassignAgentNameWrapper
	{
	display: none;
}
.lead_assign_table {
	margin-top: -85px;
}

.top-btm-mrg-10 {
	margin: 23px 0px;
}
.closeBtn {
	margin: 28px 0px;
}
.msgfont {
	font-size: 19px;
	margin-left: 20px;
    margin-right: 20px;
}

.mandatory {
	margin: 0px !important;
	width: 3px !important;
	float: none !important;
	color: #c32a24 !important;
}

#cancelBtn {
	color: #c32a24;
	background-color: white;
	border: 1px solid #CCC;
	padding: 6px 30px !important;
    margin-left: 0px;
}
#proceedBtn {
	background-color: #c32a24;
    border: 0 none;
    color: #FFFFFF;
    font-size: 21px;
    padding: 7px 20px !important;
    margin-left: 15px;
    text-align: center;
    cursor: pointer;
    font-family: 'DBHelvethaicaRegular';
}

body {
	background-color: #EEE9E9;
	margin: 0px;
	font-family: 'DBHelvethaicaRegular';
}

select {
	height: 30px;
}

.mainLogo {
    width: 15%;
    padding-top: 10px;
    margin-left: 28px;
}

.logo_header {
	background-color: #c32a24;
	height: 50px;
	width: 100%;
}

.lead_assign_heading {
	font-weight: bold;
	/*position: absolute;
	margin-left: 32%;*/
	margin-top: -35px;
	font-size: 27px;
	color: white;
	text-align:center !important;
	font-family: 'DBHelvethaicaLight';
}

.mainendLogo {
	float: right;
	margin-top: -32px;
	margin-right: 26px;
	/* size: portrait; */
	width: 30px;
	cursor:pointer;
}

.language_icon {
	float: right;
	margin-right: 20px;
	height: 30px;
	width: 30px;
	margin-top: 11px;
}

.bg_white {
	background-color: #ffffff !important;
	border-bottom: 1px solid #CCCCCC;
	height: 35px;
}

.bg_white span {
	position: absolute;
	margin-top: 5px;
	font-weight: bold;
	margin-left: 28px;
	font-size: 21px;
	font-family: 'DBHelvethaicaLight';
}

.lead_assign_div {
	height: 69%;
	width: 96.2%;
	margin-left: 2%;
	margin-top: 2%;
	background-color: white;
	padding-top: 26px;
	position: fixed;
}

.agent_status {
	height: 90px;
	margin-left: 30px;
	float: left;
	width:400px;
}

.agent_name {
	height: 90px;
	/* position: absolute; */
	display: block;
	float: left;
	margin-left: 30px;
	width:400px;
	
}
#searchButtonGroup .red-btn,
#searchButtonGroup .white-btn{	
	height: 30px !important;
	/*padding: 5px 15px;*/
	line-height: 15px;
	float: left;
}
.agent_status span,.agent_name span,.branch_name span {
    float: left;
    line-height: 30px;
    margin-top: 11px;
    margin-right: -15px;
	width: 140px;
	word-wrap: break-word;
	line-height:20px;
	font-size: 19px;
}

.agent_status select,
.agent_name select,
.branch_name select{
	float:left;
}

.agent_status select option:first-child,
.agent_name select option:first-child,
.branch_name select option:first-child{
	color:#CCC;
}
#reassignBtn{
	display:none;
}
.agent_status select,.agent_name select,.branch_name select {
	margin-top: 10px;
	height: 40px;
	width: 40%;
	min-width: 270px;
}
#searchButtonGroup {
    /*margin-left: 33%;
    width: 367px;*/
	margin-top: -86px;
}

.branch_name {
	height: 90px;
	margin-left: 30px;
	width:400px;
}

.agent_details_table {
	border-collapse: separate;
	border-spacing: 0px;
	width: 100% !important;
	margin-top: 0px !important;
	font-size: 13px;
}

.agent_details_table thead {
	width: 100%;
	color: white;
}

.agent_details_table tr th {	
	vertical-align: middle;
}
.agent_details_table thead tr th:nth-child(1) {
	width: 4%;
}
.agent_details_table thead tr th:nth-child(2) {
	width: 6%;
}
.agent_details_table thead tr th:nth-child(3) {
	width: 8%;
}
.agent_details_table thead tr th:nth-child(4) {
	width: 5%;
}
.agent_details_table thead tr th:nth-child(5) {
	width: 6%;
}
.agent_details_table thead tr th:nth-child(6) {
	width: 6%;
}
.agent_details_table thead tr th:nth-child(7) {
	width: 8%;
}

.agent_details_table tbody tr td:nth-child(1) {
	width: 4%;
	padding-left: 2px;
}
.agent_details_table tbody tr td:nth-child(2) {
	width: 6%;
}
.agent_details_table tbody tr td:nth-child(3) {
	width: 8%;
}
.agent_details_table tbody tr td:nth-child(4) {
	width: 5%;
}
.agent_details_table tbody tr td:nth-child(5) {
	width: 6%;
}
.agent_details_table tbody tr td:nth-child(6) {
	width: 6%;
}
.agent_details_table tbody tr td:nth-child(7) {
	width: 8%;
}

.agent_details_table tr td {
	height: 40px;
}

.agent_details_heading {
	position: relative;
}

.agent_details_heading td {
	margin-left: 20px;
	margin-top: 4px;
}

.agent_details_part {
	height: 520px;
	background-color: white;
}

.agent_details_table tbody .agent_details_heading {
	color: black;
	height: 40px;
}
.agent_details_table tbody {
	text-align: center !important;
	font-size: 19px;
	display: block;
    overflow-y: overlay;
    height: 245px;
    width: 100%;
}

.agent_details_table tr th {
	height: 50px;
}

.agent_details_heading th {
	height: 50px;
}

.agent_details_table tbody td {
	vertical-align: middle;
}

.agent_details_table tbody tr:nth-child(odd) {
	background-color: white;
	width:100% !important;
}

.agent_details_table tbody tr:nth-child(even) {
	background-color: #F3DFDF;
	width:100% !important;
}

#agent_details_topic {
	background-color: #e1aeb0;
	text-align: center !important;
	font-size: 19px;
	font-family: 'DBHelvethaicaLight';
	display:block;
}

.re_assignee_part {
	width: 444px;
	background-color: #EEE9E9;
	height: 204px;
}

.re_assignee_details {
	height: 95px;
	background-color: white;
	margin: 35px 10px 20px 35px;
}

.re_assignee_details select {
	width: 385px;
}

.re_assignee_status_part,.re_assignee_agent_part,.re_assignee_branch_part
	{
	overflow: hidden;
	height: 50px;
}
.agent_details_table tbody td:first-child{
	text-align:center;
	font-size: 15px;
}
.agent_details_table tbody td{
	    /* padding: 0px 10px; */
}
.re_assignee_status_part span,.re_assignee_agent_part span,.re_assignee_branch_part span
	{
	margin-left: 12px;
    width: 200px;
    margin-right: 15px;
	float: left;
	margin-top: 8px;
	font-size: 19px;
}

.cancel_re_assignee {
	margin-top: 40px;
	margin-left: 110px;
	background-color: white;
	color: #c32a24;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.proceed_re_assignee {
	margin-top: 40px;
	margin-left: 15px;
	background-color: #c32a24;
	color: white;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.success_popup {
	width: 444px;
	background-color: #EEE9E9;
	height: 200px;
}

.success_popup span {
	margin-left: 10px;
}

.success_popup_part {
	height: 146px;
	background-color: white;
	margin: 15px 12px 12px 12px;
}

.success_re_assignee {
	background-color: #c32a24;
	color: white;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	margin-top: 58px;
	width: 70px;
	height: 25px;
	margin-left: 180px;
	margin-top: 58px;
}

.success_popup_part span {
	color: green;
	margin-left: 80px;
	margin-top: 33px;
	position: absolute;
}
.loaderWrapper{
	position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
}
.loaderWrapper img,.loaderWrapper span{
	float:left;
}
.loaderWrapper span{
	color:white;
	line-height:50px;
	margin-left:5px;
	font-size: 19px;
}
#loadingmessage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 100000;
}
#loadingmessage > img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
}
.landing-page.page-content{padding-bottom: 20px;}
.landing-page .footer_part{position: fixed;}