@font-face {
  font-family: 'DBHelvethaicaRegular';
  src: url('fonts/DB-Helvethaica-X.eot');
  src: url('fonts/DB-Helvethaica-X.eot?#iefix') format('embedded-opentype'),
       url('fonts/DB-Helvethaica-X.woff') format('woff'),
       url('fonts/DB-Helvethaica-X.ttf') format('truetype'),
       url('fonts/DB-Helvethaica-X.svg#JournalRegular') format('svg');
       
}
div, p
{
  font-size: 20px;
  color: #000;
  font-family: 'DBHelvethaicaRegular';
}