<HTML>
<BODY bgColor=#ADD1A6 leftMargin=0 topMargin=0 marginheight="0"	marginwidth="0">
<TABLE cellSpacing=0 cellPadding=0 width=600 align=left bgColor=#ADD1A6 border=0 width="100%">
<TBODY>
<TR>
<TD>
<TABLE id=Table_01 height=340 cellSpacing=0 cellPadding=0 width=900	align=left border=0>
<TBODY>
<TR>
<TD style="DISPLAY: block" bgColor=#ADD1A6 colSpan=3 height=23>&nbsp;</TD>
</TR>
<TR>
<TD colSpan=3 style="FONT-SIZE: 12px; FONT-FAMILY: Arial;font-style: italic;">Yang terhormat $leadName</TD></TR><TR><TD style="DISPLAY: block" bgColor=#ADD1A6 colSpan=3 height=23>&nbsp;</TD>
</TR>
<TR>
<TD vAlign=top align=left width=900 colSpan=3 height=300><TABLE cellSpacing=0 cellPadding=0 width="100%" bgColor=#ADD1A6	border=0>
<TBODY>
	<TR>
		<TD style="FONT-SIZE: 12px; FONT-FAMILY: Arial;font-style: italic;"	vAlign=center align=left>Email ini terkirim secara otomatis dari Generali Indonesia. Terlampir adalah <b>salinan ilustrasi</b> pada hari  
			<BR>$day, $date pukul $time WIB untuk Anda pelajari lebih lanjut.
			<BR>Apabila Anda membutuhkan penjelasan rinci, silahkan menghubungi Agen kami yang selalu siap melayani Anda. 
			
		</TD>
	</TR>
	<TR>
		<TD	style="FONT-SIZE: 12px; PADDING-TOP: 10px;font-style: italic; FONT-FAMILY: Arial, Helvetica, sans-serif"	vAlign=top align=left><P style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 16px; PADDING-TOP: 0px">Terimakasih telah mempercayakan Generali Indonesia sebagai perencana keuangan Anda. Kami 
			<BR>berkomitmen untuk terus melayani Anda dengan baik dan memberikan solusi yang inovatif bagi Anda.
			<BR><BR><BR>Salam,<BR>Generali Indonesia<BR></P>
		</TD>
	</TR>
	<TR>
		<TD><img src="cid:SignatureId" height="150" width="670"></img></TD>
	</TR>
	<TR>
</TBODY>
</TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR></TABLE></BODY></HTML>